---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pokapū</title>
	</head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&family=Kumbh+Sans:wght@400;500;700&display=swap');
    /* Regular */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Italic Variants */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

  </style>
	<body class="w-full h-full bg-pink-50">
    <div class="bg-hero-pattern bg-cover bg-center w-full px-12 py-8 flex flex-col gap-4">
      <header class="sticky w-full flex flex-row justify-between items-center">
        <div class="flex flex-row gap-6 justify-center items-center">
          <img class="w-[45px] lg:w-[60px]" width="60px" src="/images/pokapu-logo.svg" />
          <h2 class="font-metropolis font-bold text-slate-900 text-2xl lg:text-3xl">Pokapū</h2>
        </div>
        <div class="flex flex-col gap-[0.3px]">
          <span class="hidden lg:visible text-slate-900 font-semibold font-outfit text-2xl cursor-pointer">
            Join
          </span>
          <span class="w-full h-[8px] bg-gradient-to-r from-pink-400 to-pink-300 rounded-tl-lg rounded-tr-none rounded-br-xl rounded-bl-sm"></span>
        </div>
      </header>
      <div class="flex flex-col lg:flex-row gap-8 lg:gap-4 justify-around h-full py-16">
        <div class="flex flex-col gap-4 justify-center items-center lg:justify-left lg:max-w-[400px]">
          <h2 class="text-slate-900 font-black font-metropolis text-5xl">Banks shouldn't be evil</h2>
          <p class="text-slate-900 font-kumbh text-2xl">Modern, non-for-profit, banking against genocide</p>
        </div>
        <div class="flex flex-col justify-center items-center">
          <img width="400px" src="/images/pokapu-debit.svg" />
        </div>

      </div>
    </div>
    <div class="px-12 py-12 flex flex-col gap-8">
      <span class="flex flex-col justify-left lg:flex-row gap-4 items-start lg:items-center">
        <p class="text-slate-900 font-bold font-metropolis text-3xl">Ko wai mātou?</p>
        <p class="text-slate-900 font-normal italic font-metropolis text-2xl">Who are we?</p>
      </span>
      <p class="text-slate-900 font-kumbh text-xl">
        We are the only banking services provider in Aotearoa that recognise Māori and indigenous sovereignty and refuse to invest in unethical businesses. We are firmly against genocide, illegal occupation, weapons, tobacco, animal agriculture, and fossil fuels. We use our resources to develop communities and build self-dependence.
      </p>
      <span class="flex flex-col justify-left lg:flex-row gap-4 items-start lg:items-center">
        <p class="text-slate-900 font-bold font-metropolis text-3xl">Ka tukuna e mātou</p>
        <p class="text-slate-900 font-normal italic font-metropolis text-2xl">We offer</p>
      </span>
      <div class="flex flex-col gap-4">
        <span class="flex flex-row gap-2">
          <img width="30px" src="/images/pokapu-logo-colourful.svg" />
          <p class="text-slate-900 font-kumbh text-xl">
            Trailblazer Spending Cards (1% Cashback) 
          </p>
        </span>
        <span class="flex flex-row gap-2">
          <img width="30px" src="/images/pokapu-logo-colourful.svg" />
          <p class="text-slate-900 font-kumbh text-xl">
            Treehugger Savings Account (5% Interest) 
          </p>
        </span>
      </div>
    </div>
    <div class="p-12 h-[320px] flex flex-col justify-center items-center">
      <button class=" px-12 py-4 text-slate-900 font-semibold font-outfit text-3xl bg-gradient-to-r from-pink-400/70 to-pink-300/70 rounded-tl-3xl rounded-tr-md rounded-br-3xl rounded-bl-md">I'm In</button>
    </div>
    <div class="p-4 flex flex-row justify-center">
      <p class="text-slate-900 font-kumbh font-normal">© Pokapū Ahumoni Tāpui Limited 2025</p>
    </div>
	</body>
</html>
