---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Pokapū</title>
	</head>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;700&family=Kumbh+Sans:wght@400;500;700&display=swap');
    /* Regular */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Regular.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
}

/* Bold */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Bold.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

/* Black */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Black.otf') format('opentype');
  font-weight: 900;
  font-style: normal;
}

/* ExtraBold */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-ExtraBold.otf') format('opentype');
  font-weight: 800;
  font-style: normal;
}

/* Light */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

/* Medium */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

/* SemiBold */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-SemiBold.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

/* Italic Variants */
@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-RegularItalic.otf') format('opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-BoldItalic.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Metropolis';
  src: url('/fonts/Metropolis-LightItalic.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

  </style>
	<body class="w-full h-full bg-pink-100">
    <div class="bg-hero-pattern bg-cover bg-center w-full px-12 py-8 flex flex-col gap-4">
      <header class="sticky w-full flex flex-row justify-between items-center">
        <div class="flex flex-row gap-6 justify-center items-center cursor-pointer">
          <img class="w-[45px] lg:w-[60px]" width="60px" src="/images/pokapu-logo.svg" />
          <h2 class="font-outfit font-bold text-slate-900 text-2xl lg:text-3xl">Pokapū</h2>
        </div>
        <div class="flex flex-col gap-[0.3px]">
          <span class="hidden lg:flex text-slate-900 font-semibold font-outfit text-2xl cursor-pointer">
            Join
          </span>
          <span class="w-full h-[8px] bg-gradient-to-r from-pink-400 to-pink-300 rounded-tl-lg rounded-tr-none rounded-br-xl rounded-bl-sm"></span>
        </div>
      </header>
      <div class="flex flex-col lg:flex-row gap-8 lg:gap-4 justify-around h-full py-16">
        <div class="flex flex-col justify-center items-center">
          <img width="400px" src="/images/pokapu-debit.svg" />
        </div>
        <div class="flex flex-col gap-4 justify-center items-left lg:justify-left lg:max-w-[400px]">
          <h2 class="text-slate-900 font-black font-metropolis text-5xl">Banks shouldn't be evil</h2>
          <p class="text-slate-900 font-kumbh text-2xl">Modern, non-for-profit, banking</p>
        </div>


      </div>
    </div>
    <div class="px-12 py-12 flex flex-col gap-8 justify-center items-center">
      <div class="flex flex-col gap-8 max-w-screen-lg">
        <span class="flex flex-col justify-left lg:flex-row gap-4 items-start lg:items-center">
          <p class="text-slate-900 font-black font-metropolis text-3xl">Ko wai mātou?</p>
          <p class="text-slate-900 font-normal italic font-metropolis text-2xl">Who are we?</p>
        </span>
        <p class="text-slate-900 font-kumbh text-xl">
          In a sea of traditional banks focused on squeezing out profits and sitting on century-old legacies, we are something different. We are the only ethical bank in Aotearoa—a truly unique neobank born out of a vision to reshape what it means to bank in the 21st century. We exist because we believe that banking doesn’t have to mean compromising your values, giving up transparency, or supporting industries that do more harm than good.
          <br /><br />
          Other banks will tell you they’re “moving toward sustainability” or “investing in their communities,” but the reality is they’re too tangled up in their old ways, still funding industries that exploit our people and our environment. That’s where we come in. We are not weighed down by outdated systems or legacy infrastructure—we were built digital-first, with ethics woven into our very foundation. No branches, no paperwork, no greenwashing.
          <br /><br />
          We are a complete neobank—no more, no less. From your first dollar deposited to your daily transactions and savings goals, every interaction with us is seamless, purely digital, and, most importantly, guided by our commitment to doing right by our customers and our whenua. When you bank with us, you’re not just a number on a spreadsheet—you’re an integral part of a new movement toward a fairer, more transparent financial system.
          <br /><br />
          We’re not interested in selling out to fossil fuel giants or squeezing profits from interest rate hikes. Instead, we’re focused on community reinvestment, transparency, and real impact. Unlike the big players, we’re not afraid to stand up for what’s right—even if it means stepping away from profit opportunities that don’t align with our values.
          <br /><br />
          At the end of the day, we are proud to be the only ethical neobank in Aotearoa, offering you an experience that’s frictionless, modern, and uncompromising in its ethics. We’re not just here to change banking; we’re here to build a better financial future for Aotearoa, with you at the center.
          <br /><br />
          This isn’t just another bank. This is a new way forward.
        </p>
        <span class="flex flex-col justify-left lg:flex-row gap-4 items-start lg:items-center">
          <p class="text-slate-900 font-black font-metropolis text-3xl">Ka tukuna e mātou</p>
          <p class="text-slate-900 font-normal italic font-metropolis text-2xl">We offer</p>
        </span>
        <div class="flex flex-col gap-4">
          <span class="flex flex-row gap-2">
            <img width="30px" src="/images/pokapu-logo-colourful.svg" />
            <p class="text-slate-900 font-kumbh text-xl">
              Trailblazer Spending Cards (1% Cashback) 
            </p>
          </span>
          <span class="flex flex-row gap-2">
            <img width="30px" src="/images/pokapu-logo-colourful.svg" />
            <p class="text-slate-900 font-kumbh text-xl">
              Treehugger Savings Account (5% Interest) 
            </p>
          </span>
        </div>
      </div>
    </div>
    <div class="p-12 h-[320px] flex flex-col justify-center items-center">
      <button class=" px-12 py-4 text-slate-900 font-semibold font-outfit text-3xl bg-gradient-to-r from-pink-400/70 to-pink-300/70 rounded-tl-3xl rounded-tr-md rounded-br-3xl rounded-bl-md">I'm In</button>
    </div>
    <div class="p-4 flex flex-row justify-center">
      <p class="text-slate-900 font-kumbh font-normal">© Pokapū Ahumoni Tāpui Limited 2025</p>
    </div>
	</body>
</html>
